{% extends "layout.html" %}
{% block content %}

<img src="static/images/best.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Best Algorithm</h1>
        </header>
        
        <div class="w3-container">
          <p> {{ algo }}
          </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

{% endblock %}