{% extends "layout.html" %}
{% block content %}

<img src="static/images/network.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>: With the popularity of Internet of Things (IoT) technology, the security of the IoT network
            has become an important issue. Traditional intrusion detection systems have their limitations
            when applied to the IoT network due to resource constraints and the complexity. This research
            focusses on the design, implementation and testing of an intrusion detection system which uses a
            hybrid placement strategy based on a multi-agent system, blockchain and deep learning algorithms.
            The system consists of the following modules: data collection, data management, analysis, and
            response. The National security lab–knowledge discovery and data mining NSL-KDD dataset is used
            to test the system. The results demonstrate the efficiency of deep learning algorithms when detecting
            attacks from the transport layer. The experiment indicates that deep learning algorithms are suitable
            for intrusion detection in IoT network environment.
          </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>The Internet of Things (IoT) can be considered as an interconnected system based on
                approved protocols which exchange information [1] among the devices operating via the internet.
                Recent advancements in IoT introduces the concept of smartness to devices, sensors, homes, streets
                and even cities. IoT is one of the leading and growing fields of modern computing and communication
                technology and has made major contributions to various domains, from agricultural sector to vehicles
                automation. Nowadays, IoT is also referred [2] as the Internet of Everything (IoE) as it deals with any
                type of connected device in daily life. It is anticipated that in 2025 [2] the number of connected devices
                may reach up to 21.5 billon
              </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}